spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/calendarbox_db
    username: calendarbox_user
    password: calendarbox_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
