spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/calendarbox_db
    username: calendarbox_user
    password: calendarbox_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
